server {
  listen        80;
  server_name   {{ webkaos_dav_server_name }};

  access_log  /var/log/webkaos/{{ webkaos_dav_server_name }}/access.log  main;
  error_log   /var/log/webkaos/{{ webkaos_dav_server_name }}/error.log;

  pagespeed off;

  location = /robots.txt {
    return 200 "User-agent: *\nDisallow: /\n";
    default_type text/html;
  }

  location / {
    limit_except GET {
      allow 127.0.0.1;
      allow {{ hostvars[inventory_hostname].ansible_default_ipv4.address }};
    }
    root                   /srv/webdav/content;
    client_body_temp_path  /srv/webdav/client_temp;
    dav_methods  PUT DELETE MKCOL COPY MOVE;
    create_full_put_path   on;
    dav_access             all:rw;
    expires 1d;
    auth_basic "Private Property";
    auth_basic_user_file /etc/nginx/.htpasswd;
  }
}

