server {
  listen        80;
  server_name   {{ webkaos_fias_server_name }};

  access_log  /var/log/webkaos/{{ webkaos_fias_server_name }}/access.log  main;
  error_log   /var/log/webkaos/{{ webkaos_fias_server_name }}/error.log;

  pagespeed off;

  location = /robots.txt {
    return 200 "User-agent: *\nDisallow: /\n";
    default_type text/html;
  }

  location / {
    proxy_http_version 1.1;

    # The Important Websocket Bits!
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";

    proxy_pass         http://127.0.0.1:{{ webkaos_fias_backend_port }}/;
    proxy_set_header   Host             $host;
    proxy_set_header   X-Real-IP        $remote_addr;
    proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
  }
}

